@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BFC8E6;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container {
  background-color: #FFFFFF;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  border-radius: 16px;
}
.container header h1 {
  color: #151B32;
  font-size: 32px;
  font-family: Merriweather, sans-serif;
  font-weight: 600;
  margin-bottom: 24px;
}
.container header .search-navbar {
  display: flex;
  gap: 0;
  align-items: center;
}
.container header .search-navbar label {
  width: 327px;
  padding: 16px;
  display: flex;
  gap: 8px;
  border: 1px solid #BFC8E5;
  border-radius: 4px;
}
.container header .search-navbar label svg {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #151B32;
}
.container header .search-navbar label input {
  background-color: transparent;
  font-size: 16px;
  flex: 1;
}
.container header .search-navbar label input::-moz-placeholder {
  font-size: 16px;
  color: rgba(21, 27, 50, 0.7);
  font-weight: 600;
}
.container header .search-navbar label input::placeholder {
  font-size: 16px;
  color: rgba(21, 27, 50, 0.7);
  font-weight: 600;
}
.container header .search-navbar nav {
  margin-left: auto;
  display: flex;
  gap: 0;
}
.container header .search-navbar nav a {
  padding: 16px;
  text-align: center;
  font-weight: 500;
  color: rgba(21, 27, 50, 0.8);
  transition: background-color 400ms, color 500ms;
  border-radius: 8px;
}
.container header .search-navbar nav a:hover {
  background-color: #849FFF;
  color: #FFFFFF;
}
.container main .profiles {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.container main .profiles section {
  display: flex;
  gap: 16px;
}
.container main .profiles section .profile {
  background-color: #FBFCFF;
  width: 327px;
  height: 208px;
  padding: 24px;
  display: flex;
  gap: 16px;
  transition: transform 400ms;
}
.container main .profiles section .profile:hover {
  border: 0.1px solid #BFC8E5;
  border-radius: 16px;
  box-sizing: border-box;
  transform: scale(1.1);
}
.container main .profiles section .profile img {
  width: 97px;
  height: 97px;
}
.container main .profiles section .profile .profile-detail {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.container main .profiles section .profile .profile-detail .name-place h4 {
  font-size: 18px;
  font-family: "Merriweather";
  font-weight: 900;
  margin-bottom: 4px;
  color: #151B32;
}
.container main .profiles section .profile .profile-detail .name-place h5 {
  font-size: 14px;
  font-weight: 500;
  color: #151B32;
}
.container main .profiles section .profile .profile-detail .attributes {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}
.container main .profiles section .profile .profile-detail .attributes .attribute {
  padding: 2px 8px;
  border: 1px solid #BFC8E5;
  border-radius: 10px;
  font-size: 12px;
  color: #516FD4;
}/*# sourceMappingURL=user.css.map */