@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

$text-color: #0D1C52;
$default-font: "Mulish", sans-serif;

@mixin input-span {
    flex: 1;
    font-weight: 18px;
    color: $text-color;
    font-weight: bold;
}

@mixin input-calendar {
    width: 33px;
    height: 33px;
    font-size: 22px;
    @include flex-center;
    color: $text-color;
}

@mixin input-chevron {
    width: 25px;
    height: 25px;
    font-size: 14px;
    @include flex-center;
    color: $text-color;
}


@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-default($-gap) {
    display: flex;
    gap: $-gap;
}

@mixin flex-col($-gap) {
    display: flex;
    flex-direction: column;
    gap: $-gap;
}

@mixin check-input{
    @include flex-default(8px);
                align-items: center;

                span {
                    color: $text-color;
                    font-weight: bold;
                }
                .check-deliver {
                    &:has(input:checked) {
                        background-color: $text-color ;

                        i {
                            transform: scale(1);
                        }
                    }
                    width: 25px;
                    height: 25px;
                    position: relative;
                    border: 1px solid #8F9DCE;
                    border-radius: 4px;
                    transition: 500ms background-color;
                    @include flex-center();

                    input {
                        appearance: none;
                    }

                    i {
                        transform: scale(0);
                        transition: 500ms transform;
                        color: #FFFFFF;
                    }
                }
}
html,
body {
    height: 100%;

}

body {
    background: #E5E5E5;
    @include flex-center();
    font-family: $default-font ;
    font-size: 16px;
}

.container {
    background-color: #FFFFFF;
    @include flex-col(40px);
    padding: 74px;
    border-radius: 32px;

    header {
        h1 {
            font-size: 32px;
            font-weight: bold;
            font-family: "Merriweather", sans-serif;
            color: $text-color;
        }
    }

    main {
        @include flex-col(32px);
        .pick-up {
            width: 608px;
            @include flex-col(18px);

            .location {
                @include flex-col(8px);

                label {
                    color: $text-color;
                    font-weight: bold;
                    font-size: 14px;
                }

                input {
                    border: 1px solid #8F9DCE;
                    padding: 16px;
                    border-radius: 4px;
                    font-size: 16px;
                    color: $text-color;

                    &::placeholder {
                        font-size: 16px;
                        color: $text-color;
                        font-weight: bold;
                    }
                }
            }

            .deliver-check {
                @include flex-default(8px);
                align-items: center;

                span {
                    color: $text-color;
                    font-weight: bold;
                }
                .check-deliver {
                    &:has(input:checked) {
                        background-color: $text-color ;

                        i {
                            transform: scale(1);
                        }
                    }
                    width: 25px;
                    height: 25px;
                    position: relative;
                    border: 1px solid #8F9DCE;
                    border-radius: 4px;
                    transition: 500ms background-color;
                    @include flex-center();

                    input {
                        appearance: none;
                    }

                    i {
                        transform: scale(0);
                        transition: 500ms transform;
                        color: #FFFFFF;
                    }
                }
            }

        }

        .dates {
            @include flex-default(16px);
            .date-pickup {
                flex: 1;
                @include flex-col(8px);
                h6 {
                    color: $text-color;
                    font-size: 14px;
                    font-weight: bold;
                }
                .day-month-year {
                    align-items: center;
                    padding: 16px;
                    @include flex-default(10px);
                    border: 1px solid #8F9DCE;
                    border-radius: 4px;
                    span {
                       @include input-span();
                    }
                    i:nth-of-type(1) {
                        @include input-calendar();
                    }
                    i:nth-of-type(2) {
                        @include input-chevron();
                    }
                }
                .time {
                    @include flex-default(0);
                    border: 1px solid #8F9DCE;
                    border-radius: 4px;
                    .hour {
                        @include flex-default(10px);
                        align-items: center;
                        flex: 1;
                        border-right: 1px solid #8F9DCE;
                        padding: 16px;
                        span {
                            @include input-span();
                        }
                        i:nth-of-type(1) {
                            @include input-calendar();
                        }

                        i:nth-of-type(2) {
                            @include input-chevron();
                        }
                    }

                    .min {
                        border-left: 1px solid  #8F9DCE;
                        flex: 1;
                        padding: 16px;
                        align-items: center;
                        @include flex-default(10px);

                        span {
                            @include input-span();
                        }

                        i {
                            @include input-chevron();
                        }

                    }
                }
            }

            .date-delivery {
                flex: 1;
            }
        }

        .age-check{
            @include check-input();
            &>i{
                width: 29px;
                height: 29px;
                font-size: 20px;
                margin-left: -3px;
                @include flex-center();
            }
        }
        .infos{
            @include flex-col(16px);
            .info{
                @include flex-default(9px);
                i{
                    width: 22.5px;
                    height: 22.5px;
                    font-size: 20px;
                    color: $text-color;
                    @include flex-center();
                }
                span{
                    color: $text-color;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }
    }
    .search-button{
        button{
            padding: 42px;
            background-color: #FE6F4F;
            color: #FFFFFF;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            border-radius: 34px;
            width: 100%;
            cursor: pointer;
        }
    }
}