@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}


@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-default($-gap) {
    display: flex;
    gap: $-gap;
}

@mixin flex-col($-gap) {
    display: flex;
    flex-direction: column;
    gap: $-gap;
}

$default-font :"Poppins",sans-serif;
$default-color : "Roboto" , sans-serif;
$profile-color : #FBFCFF;


html,
body {
    height: 100%;
    
}
body{
    @include flex-center;
    background-color: #F4F9FF;
    font-family: $default-font;
    font-size: 16px;
}

.container{
    background-color: #FFFFFF;
    box-shadow: 10px 10px  0px #EAF3FF;
    border-radius: 15px;
    padding: 60px;
    width: 808px;
    height: 438px;
    text-align: center;
    main{
        @include flex-col(15px);
        .counter{
            font-size: 22px;
            font-weight: 400;
            font-style: normal;
            color: #8192A6;
        }
        .bar{
            width: 164px;
            height: 8px;
            background-color: #E8F2FF;
            border-radius: 10px;
            margin: 0 auto;
            padding: 5px 2px;
            @include flex-default(0);
            align-items: center;
            span{
                width: 55.47px;
                height: 4px;
                background-color: #173961;
                display: block;
                border-radius: 10px;
            }
        }
        h2{
            color: #000;
            font-size: 22px;
            font-weight: bold;
            align-items: center;
            margin-top: 10px;
        }
        .survey{ 
            margin-top: 30px;
            width: 665px;
            height: 46px;
            @include flex-col(0px);
            position: relative;
            .inputs{
                position: relative;
                span{
                    z-index: -1;
                    position: absolute;
                    top: 50%;
                    width: 576px;
                    height: 1px;
                    background-color: #B5CFF1;
                    display: block
                }
                @include flex-default(50px);
                justify-content: center;
                text-align: center;
                z-index: 1;
                input{
                    position: relative;
                    appearance: none;
                    width: 15px;
                    height: 15px;
                    background-color: #B5CFF1;
                    border-radius: 50%;
                    @include flex-center();
                    &::before{
                        content: "";
                        position: absolute;
                        width: 9px;
                        height: 9px;
                        background-color: #FFFFFF;
                        border-radius: 50%;
                    }
                    &:where(:checked,:hover){
                        background-color: #F4F9FF;
                        transform: scale(1.2);
                        &::before{
                            background-color: #000;
                        }
                    }
                }
                
            }
            .agree-disagree{
                @include flex-default(0px);
                justify-content: space-between;
                span{
                    margin-top: 10px;
                    font-size: 14px;
                    font-weight: 400;
                    color: #000;
                }
            }
        }
    }
    .buttons{
        margin-top: 40px;
        padding: 0px 20px;
        @include flex-default(0px);
        justify-content: space-between;
        .button{
            background-color: #FFFFFF;
            text-align: center;
            padding:  10px 50px;
            border-radius: 5px;
            border: 1px solid black;
            cursor: pointer;
            &:hover{
                background-color: #000;
                color: #FFFFFF;
            }
        }
    }

}