@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E5E5E5;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container {
  padding: 82px;
  background-color: #FFFFFF;
  box-shadow: 0 24px 28px 9px rgba(179, 193, 217, 0.33);
  width: 887px;
  height: 661px;
  border-radius: 15px;
}
.container .product {
  flex: 1;
  display: flex;
  gap: 32px;
}
.container .product img {
  width: 249px;
  height: 223px;
}
.container .product .product-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.container .product .product-info .product-name {
  width: 419px;
  height: 111px;
}
.container .product .product-info .product-name .free {
  background-color: #191847;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 4px 8px;
  font-weight: 600;
  display: block;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 10px;
}
.container .product .product-info .product-name h1 {
  font-size: 24px;
  font-weight: 600;
  color: #191847;
}
.container .product .product-info .product-price {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.container .product .product-info .product-price .cross {
  text-decoration: line-through;
  font-size: 18px;
  font-weight: 400;
  color: #191847;
}
.container .product .product-info .product-price .big-bold {
  font-size: 48px;
  font-weight: bold;
  color: #191847;
}
.container .product .product-info .product-price .offer {
  font-size: 14px;
  font-weight: 400;
  color: rgba(25, 24, 71, 0.5);
}
.container .product .product-info .add-card button {
  padding: 16px;
  width: 100%;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: medium;
  border-radius: 8px;
  background-color: #4788E9;
  box-shadow: 0 7px #1C57EE;
  cursor: pointer;
  transition: transform 500ms;
}
.container .product .product-info .add-card button:hover {
  transform: scale(1.01);
}
.container .product .product-info .add-card button:focus {
  transform: scale(0.8);
  background-color: green;
  box-shadow: 0 7px rgb(84, 139, 84);
}
.container .product .product-info .deneme {
  display: flex;
  gap: 8px;
  align-items: center;
}
.container .product .product-info .deneme .green-circle {
  width: 13px;
  height: 13px;
  background-color: #00D98B;
  border-radius: 50%;
}
.container .product .product-info .deneme .stock {
  color: #000000;
  font-size: 14px;
  font-weight: medium;
}
.container .product .product-info .cart-wishlist {
  width: 442px;
  display: flex;
  gap: 16px;
}
.container .product .product-info .cart-wishlist .btn {
  flex: 1;
  padding: 16px;
  color: #191847;
  font-size: 18px;
  border: 2px solid #C9C9DA;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}
.container .product .product-info .cart-wishlist .btn:first-child svg {
  margin-left: 10px;
}
.container .product .product-info .cart-wishlist .btn:hover {
  transform: translateY(5px);
}
.container .product .product-info .cart-wishlist .btn:hover:first-child {
  border: 2px solid rgb(47, 105, 47);
}
.container .product .product-info .cart-wishlist .btn:hover:last-child {
  border: 2px solid orangered;
}/*# sourceMappingURL=product-info.css.map */