* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-default($-gap) {
    display: flex;
    gap: $-gap;
}

@mixin flex-col($-gap) {
    display: flex;
    flex-direction: column;
    gap: $-gap;
}

$default-font :"Poppins",sans-serif;
$text-color : #11103C;



html,
body {
    height: 100%;
}

body {
    @include flex-center;
    background-color: #E5E5E5;
    font-family: $default-font;
    font-size: 16px;
}