@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

@mixin flex-default($-gap) {
    display: flex;
    gap: $-gap;
}

@mixin flex-col($-gap) {
    display: flex;
    flex-direction: column;
    gap: $-gap;
}

@mixin center {
    display: grid;
    place-items: center;
}

$default-color : #13274F;
html,
body {
    height: 100%;
}

body{
    background: url(../images/gecisli.png);
    background-size: cover;
    font-family: "Montserrat" ,sans-serif;
}

.color-oracle-page{
    @include flex-col(0);
    height: 100%;
    header{
        height: 60px;
        margin-bottom: 50px;
        @include flex-default(0);
        align-items: center;
        padding: 0 30px;
        
        nav{
            margin-left: auto;
            @include flex-default(46px);
            
            a{
                font-size: 16px;
                color: rgba($default-color,.5);
                font-weight: 600;
                line-height: 50px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                &:focus{
                    color:$default-color ;
                    span{
                        display: block;
                    }
                }
                span{
                    display: none;
                    width: 52px;
                    border-radius: 25px;
                    height: 2px;
                    background-color: #597FE2;
                    margin: 0 auto;
                    position: absolute;
                }
            }
        }
    }
    main{
        padding: 0px 40px;
        .title{
            margin-bottom: 15px;
            h1{
                color: #000000;
                font-size: 36px;
                font-weight: bold;
                line-height: 141.9%;
                text-align: center;
                width: max-content;
                margin: 0 auto;
            }
        }
        .info{
            width: 867px;
            height: 100px;
            margin: 0 auto;
            p{
                font-size: 20px;
                font-weight: 400;
                line-height:158.4%;
                text-align: center;
            }
        }
        .operating-systems{
            margin-top: 20px;
            @include flex-default(45px);
            justify-content:center;
            .os{
                transition: 300ms transform;
                &:has(button:focus) {
                    transform: scale(1.05);
                    button{
                        background-color: #597FE2;
                        border: 4px solid #597FE2;
                        color: #FFFFFF;
                    }
                }
                &:focus{
                    transform: scale(1.05);
                    button{
                        background-color: #597FE2;
                        border: 4px solid #597FE2;
                        color: #FFFFFF;
                    }
                }
                
                width: 305px;
                height: 268px;
                background-color: white;
                @include flex-col(10px);
                padding: 17px;
                align-items: center;
                border-radius: 5px;
                img{
                    width: 130px;
                    height: 130px;
                }
                button{
                    width: 221px;
                    height: 61px;
                    border: 4px solid #EEF1FC;
                    background-color: transparent;
                    color: rgba($default-color,.5);
                    font-weight: 600;
                    font-size: 18px;
                    border-radius: 5px;
                    cursor: pointer;
                   
                }
                span{
                    color: #6D7593;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 141.9%;
                }
            }

        }
    }
    footer{
       flex: 1;
        margin-top: 20px;
        padding: 27px 37px 8px 37px ;
        margin-top: auto;
        @include flex-col(0px);
        .information{
            margin-top: 20px;
            @include flex-default(50px);
            justify-content: center;
            .inf{  
                h5{
                    font-size: 14px;
                    color: $default-color;
                    font-weight: 600;
                    margin-bottom: 5px;
                }
                p{
                    font-size: 12px;
                    color: #000000;
                    font-weight: 400;
                    line-height:139.4%;
                    width: 330px;
                    height: 50px;
                }
            }
        }
        .adress-date{
            margin-top: auto;
            text-align: center;
            font-size: 12px;
            color: $default-color;
            font-weight: 400;
        }
    }
}